/*
 * -------------------------------------------------
 *  RafaellaFerraz/exome Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs

params {

  reads = "$projectDir/files_filter/*_{1,2}.fastq.gz"
  outdir = './results'
  reference_genome = "$projectDir/base_dados/Homo_sapiens_assembly38.fasta"
  
  // Paramaters used in trimmomatic
  adapters = "$projectDir/adapters/TruSeq3-PE.fa"

  // Paramaters used in BWA
  bwa_index = "$projectDir/base_dados/bwa_index"

  // Paramaters used in Picard
  dictionary = "$projectDir/base_dados/Homo_sapiens_assembly38.dict" 

  // Paramaters used in GATK
  twist_exome = "$projectDir/base_dados/Twist_Comprehensive_Exome_Covered_Targets_hg38.bed"
  dbsnp = "$projectDir/base_dados/Homo_sapiens_assembly38.dbsnp138.vcf"
  thousand_genomes = "$projectDir/base_dados/1000G_omni2.5.hg38.vcf"
  indels = "$projectDir/base_dados/Mills_and_1000G_gold_standard.indels.hg38.vcf"
  fai =  "$projectDir/base_dados/Homo_sapiens_assembly38.fasta.fai"
  hapmap = "$projectDir/base_dados/hapmap_3.3.hg38.vcf"
  phase = "$projectDir/base_dados/1000G_phase1.snps.high_confidence.hg38.vcf"
  omni = "$projectDir/base_dados/1000G_omni2.5.hg38.vcf"

  // Defaults only, expecting to be overwritten
  max_memory = 100
  max_cpus = 30
  docker.enabled = true
  docker.runOptions = '-u $(id -u):$(id -g)'

}

manifest {
  name = 'RafaellaFerraz/exome'
  author = 'Rafaella Ferraz'
  homePage = 'https://github.com/RafaellaFerraz/exome'
  description = 'Pipeline designed to detect variants on whole-exome-sequencing'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.0dev'
}

// Process-specific resource requeriments

process {
  
  withLabel:process_low {
  	cpus   = 2
  	memory = 8.GB
  }
  
  withLabel:process_medium {
  	cpus = 15
  	memory = 100
  }
  
  withLabel:process_high {
  	cpus = 30
  	memory = 150
  }
}

profiles {
  docker {
    docker.enabled = true
  }
}
